[mysql_configs]
host=localhost
port=3306
db=tcga
username=visquick_rw
password=v1sr3ad

[cutoff]
pvalue=.5
#rface method
importance=0.0001
correlation=0
#pairwise method
loggedpvalue=-4

#this is used for dataset label, ie cancer_type_method_date
#the list tokens can be any string as long as it matches, otherwise
#the update dataset script will fail
[cancer_types]
list=brca,coad,coadread,gbm,ov,prostate

[pubcrawl]
dopubcrawl=no
pubcrawl_contact=jlin@systemsbiology.org,aeakin@systemsbiology.org

[results]
path=/home/csbgroup/re_data/nykter_pc/dataimport_results
dosmtp=no
notify=jlin@systemsbiology.org,aeakin@systemsbiology.org,sreynolds@systemsbiology.org,bbernard@systemsbiology.org,rkreisberg@systemsbiology.org
